[submodule "AIND-Sudoku"]
	path = AIND-Sudoku
	url = https://github.com/heidekrueger/AIND-Sudoku
[submodule "AIND-Isolation"]
	path = AIND-Isolation
	url = https://github.com/heidekrueger/AIND-Isolation
