[submodule "AIND-Sudoku"]
	path = AIND-Sudoku
	url = https://github.com/heidekrueger/AIND-Sudoku
[submodule "AIND-Isolation"]
	path = AIND-Isolation
	url = https://github.com/heidekrueger/AIND-Isolation
[submodule "AIND-Labs/AIND-Simulated_Annealing"]
	path = AIND-Labs/AIND-Simulated_Annealing
	url = https://github.com/udacity/AIND-Simulated_Annealing
[submodule "AIND-Labs/AIND-Constraint_Satisfaction"]
	path = AIND-Labs/AIND-Constraint_Satisfaction
	url = https://github.com/heidekrueger/AIND-Constraint_Satisfaction.git
[submodule "AIND-Planning"]
	path = AIND-Planning
	url = https://github.com/heidekrueger/AIND-Planning.git
[submodule "AIND-Recognizer"]
	path = AIND-Recognizer
	url = https://github.com/heidekrueger/AIND-Recognizer.git
[submodule "keras_tutorial"]
	path = keras_tutorial
	url = https://github.com/heidekrueger/aind2-dl.git
[submodule "aind2-cnn"]
	path = aind2-cnn
	url = https://github.com/heidekrueger/aind2-cnn.git
[submodule "dog-project"]
	path = dog-project
	url = https://github.com/heidekrueger/dog-project
[submodule "deep-learning"]
	path = deep-learning
	url = https://github.com/heidekrueger/deep-learning
[submodule "aind2-rnn"]
	path = aind2-rnn
	url = https://github.com/heidekrueger/aind2-rnn.git
