[submodule "AIND-Sudoku"]
	path = AIND-Sudoku
	url = https://github.com/heidekrueger/AIND-Sudoku
[submodule "AIND-Isolation"]
	path = AIND-Isolation
	url = https://github.com/heidekrueger/AIND-Isolation
[submodule "AIND-Labs/AIND-Simulated_Annealing"]
	path = AIND-Labs/AIND-Simulated_Annealing
	url = https://github.com/udacity/AIND-Simulated_Annealing
